@font-face {
    font-family: OpenSans;
    font-weight: 400;
    src:
        local('OpenSans'),
        url('./OpenSans-Regular.ttf') format('ttf'),
        url('./OpenSans-Regular.woff') format('woff'),
        url('./OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: OpenSans;
    font-weight: 600;
    src:
        local('OpenSans'),
        url('./OpenSans-SemiBold.ttf') format('ttf'),
        url('./OpenSans-SemiBold.woff') format('woff'),
        url('./OpenSans-SemiBold.woff2') format('woff2');
}
