.transfersFilter {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 252px;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgb(189, 189, 189);
}
.transfersFilter__title {
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 20px 20px 10px;
}
.transfersFilter__item {
    display: flex;
    cursor: pointer;
    padding: 10px 70px 10px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    &:hover {
        background-color: #f1fcff;
    }
}
.transfersFilter__label {
    color: #4a4a4a;
}
.transfersFilter__input {
    margin-right: 10px;
}